<%- include('../partials/header') %>

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <h1>
            <%= title %>
        </h1>
    </head>
    <%- include('../partials/footer') %>