body {
  padding: 85px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.avatar {
  border-radius: 50%;
  margin-right: 0.5rem;
}

.map {
  position: relative;
}

.map-img-container {
  display: inline-block;
  overflow: hidden;
}

.map-name {
  position: absolute;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 75%;
  z-index: 10;
  pointer-events: none;
  opacity: 1;
  visibility: visible;
  transition: top 0.5s, visibility 0.3s, opacity 0.5s;
}

.open-map {
  position: absolute;
  border: solid white;
  border-radius: 0.5rem;
  background-color: rgb(255, 255, 255, 0.3);
  font-size: 1.25rem;
  padding: 0.3rem 1rem;
  color: white;
  z-index: 10;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 75%;
  pointer-events: none;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: top 0.5s, visibility 0.3s, opacity 0.5s;
}

.map-img {
  position: relative;
  transition: transform .4s;
}

.map-img:hover {
  transform: scale(1.1);
  transform-origin: 50% 50%;
}

.map-img-container:hover span.map-name {
  top: 50%;
  opacity: 0;
  visibility: hidden;
  transition: top 0.5s, visibility 0.3s, opacity 0.5s;
}

.map-img-container:hover span.open-map {
  top: 50%;
  opacity: 1;
  visibility: visible;
  transition: top 0.5s, visibility 0.3s, opacity 0.5s;
}

.map-button {
  position: relative;
  background: transparent;
  border: none !important;
}

#map-banner-container {
  display: inline-block;
  overflow: hidden;
  padding: 0;
  border-radius: 0.5rem;
}

.map-banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transition: transform .4s;
  transform: scale(1.2);
}

.map-banner:hover {
  transform: scale(1.4);
  transform-origin: 50% 50%;
}

.map-title {
  color: white;
  pointer-events: none;
}

.agent-image {
  opacity: 0.5;
  transition: transform 0.4s;
}

.agent-image:hover {
  opacity: 1;
  transform: scale(1.1);
}

.agent-button {
  position: relative;
  background: transparent;
  border: none !important;
}

#minimap-canvas {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media all and (min-width: 576px) {
  .navbar .dropdown-menu-end {
    right: 0;
    left: auto;
  }

  .navbar .nav-item .dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    margin-top: 0;
  }

  .navbar .nav-item:hover .nav-link {
    color: #fff;
  }

  .navbar .dropdown-menu.fade-down {
    top: 80%;
    transform: rotateX(-75deg);
    transform-origin: 0% 0%;
  }

  .navbar .dropdown-menu.fade-up {
    top: 180%;
  }

  .navbar .nav-item:hover .dropdown-menu {
    transition: 0.3s;
    opacity: 1;
    visibility: visible;
    top: 100%;
    transform: rotateX(0deg);
  }
}