<%- include('../partials/header') %>
<script>
  const userPage = document.querySelector("body");
  // userPage.style.backgroundColor = '#2C3034';
</script>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <h1><%= title %></h1>
</head>
<br />
<a
  href="/show/new"
  type="button"
  class="btn btn-primary active"
  data-bs-toggle="button"
  aria-pressed="true"
>
  Submit New Lineup
</a>
<br />
<br />
<h2>Lineups</h2>
<table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Lineup Name</th>
      <th scope="col">Map</th>
      <th scope="col">Agent</th>
      <th scope="col">Ability</th>
    </tr>
  </thead>
  <tbody>
    <!-- data.forEach(function(l)){} -->
    <tr>
      <th scope="row">entry_id</th>
      <td>lineup_name</td>
      <td>map_id</td>
      <td>agent_id</td>
      <td>ability_id</td>
      <td>
        <form action="" method="POST">
          <a href="" type="button" class="btn btn-secondary">Edit</a>
          <a href="" type="button" class="btn btn-danger">Delete</a>
        </form>
      </td>
    </tr>
  </tbody>
</table>
<br /><br /><br />
<h2>Favorites</h2>
<table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col">Lineup Name</th>
      <th scope="col">Map</th>
      <th scope="col">Agent</th>
      <th scope="col">Ability</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">lineup_name</th>
      <td>map_id</td>
      <td>agent_id</td>
      <td>ability_id</td>
      <td>
        <form action="" method="POST">
          <a href="" type="button" class="btn btn-danger"> Delete</a>
        </form>
      </td>
    </tr>
  </tbody>
</table>

<%- include('../partials/footer') %>
