<h1><%= title %></h1>

<a href="">Add Lineup</a>

<table>
  <thead>
    <tr><br>
      <label style="font-size: 30;">Created Lineups</label>
      <th>Name</th>
      <th>Map</th>
      <th>Agent</th>
      <th>Ability</th>
    </tr>
  </thead>
</table>