<%- include('../partials/header') %>
<h2><%= title %></h2>
<!-- <label for="">Name Lineup</label> -->
<div class="mb-3">
  <label for="formGroupExampleInput" class="form-label">Name Lineup</label>
  <input type="text" class="form-control" id="formGroupExampleInput" placeholder="He's defusing!">
</div>
<br><br>
<label for="">Select Agent</label>
<select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
  <option selected>Open this select menu</option>
  <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
</select>
<label for="">Select Abilities</label>
<select class="form-select form-select-sm" aria-label=".form-select-sm example">
  <option selected>Open this select menu</option>
  <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
</select>
<br>
<label for="">Select Map</label>
<select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
  <option selected>Open this select menu</option>
  <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
</select>
<br><br>
<div class="mb-3">
  <label for="formFileMultiple" class="form-label">Upload Images</label>
  <input class="form-control" type="file" id="formFileMultiple" multiple>
</div>
<div class="mb-3">
  <label for="basic-url" class="form-label">Youtube URL</label>
  <div class="input-group">
    <span class="input-group-text" id="basic-addon3">Youtube</span>
    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4">
  </div>
</div>



<%- include('../partials/footer') %>